
.table-view .column-header-background {
    -fx-background-color: white !important;
    -fx-background-insets: 0;
    -fx-border-color: #d0d0d0;
    -fx-border-width: 0 0 1 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-text-fill: #00a693;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.table-view {
    -fx-control-inner-background: white;
    -fx-control-inner-background-alt: white;
    -fx-table-cell-border-color: transparent;
}


.text-field {
    -fx-background-color: white;
    -fx-border-color: #D0D7DE;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-padding: 6 10;
}

.combo-box {
    -fx-background-color: white;
    -fx-border-color: #D0D7DE;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-padding: 6 10;
}

.combo-box .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-padding: 6 10;
}

.combo-box-popup .list-view {
    -fx-background-color: white;
}

.combo-box-popup .list-view .list-cell {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-padding: 6 10;
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: #E6F5F1;
    -fx-text-fill: black;
}

.combo-box-popup .list-view .list-cell:selected {
    -fx-background-color: #00A693;
    -fx-text-fill: white;
}